<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>

	</configSections>
	<connectionStrings>
		<add name="myConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Nick Shortt\Desktop\NETD 3202\Labs\Lab 3\PieceworkPayroll-NicholasShortt\WorkerDatabase.mdf;Integrated Security=True;Connect Timeout=30"
		     providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>